@charset "utf-8";

#footer{padding:80px 0;}
#footer .heading{color:#FFFFFF; margin-bottom:50px; font-size:1.2rem;}
#footer hr, #footer .borderedbox, #footer .linklist li, #footer #ctdetails{border-color:rgba(255,255,255,.1);}

#footer input, #footer button{border: 1px solid transparent;}
#footer input{color:#FFFFFF; background-color:#829DA2; display:block; width:100%; padding:8px;}
#footer input:focus{border-color:#DBE5E7;}
#footer button{color:#474747; background-color:#DBE5E7;}
#footer button{padding:8px 18px 10px; text-transform:uppercase; font-weight:400; cursor:pointer;}
#footer button:hover{color:inherit; background-color:transparent; border-color:inherit;}

#footer .linklist li{display:block; margin-bottom:15px; padding:0 0 15px 0; border-bottom:1px solid;}
#footer .linklist li:last-child{margin:0; padding:0; border:none;}
#footer .linklist li::before, #footer .linklist li::after{display:table; content:"";}
#footer .linklist li, #footer .linklist li::after{clear:both;}

#footer .latestimg{}
#footer .latestimg > li{display:inline-block; float:left; width:30%; margin:0 0 5% 5%;}
#footer .latestimg > li:nth-last-child(-n+3){margin-bottom:0;}/* Removes bottom margin from the last three items - margin is restored in the media queries when items stack */
#footer .latestimg > li:nth-child(3n+1){margin-left:0; clear:left;}/* Removes the need to add class="first" */
#footer .latestimg > li img{width:100%;}/* Force the image to resize to take the full space - may have to be changed for tablets, depends on personal preference */
#footer .latestimg > li a.imgover{display:block;}

#footer #ctdetails{padding-top:80px; border-top:1px solid;}
#footer #ctdetails ul{}
#footer #ctdetails ul li{}
#footer #ctdetails ul li div{position:relative; min-height:30px; padding:0 0 0 35px; line-height:1;}
#footer #ctdetails ul li div i{position:absolute; top:0; left:0; width:25px; height:23px; font-size:20px; text-align:center;}
#footer #ctdetails ul li div span{display:block;}
#footer #ctdetails ul li div strong{display:block; margin:0 0 8px 0; text-transform:capitalize;}

@media screen and (max-width:978px) {
    #footer{}
}

@media screen and (max-width:750px) {
    #footer{padding-bottom:50px;}/* Not required, just looks a little better */
    #footer .latestimg > li{display:inline-block; float:none; width:auto; margin:0 5% 5% 0;}
    #footer .latestimg > li img{width:auto;}
}
