@charset "utf-8";

#pageintro{padding:180px 0;}

#pageintro article{display:block; max-width:60%; margin:0 auto; text-align:center;}
#pageintro .heading{margin-bottom:20px; font-size:4rem;}
#pageintro p{max-width:75%; margin:0 auto;}
#pageintro footer{margin-top:50px;}
#pageintro footer form{display:block; position:relative; max-width:50%; margin:0 auto; overflow:hidden;}
#pageintro footer input, #pageintro footer button{display:block; height:44px; border:none;}
#pageintro footer input{width:100%; padding:5px 40px 5px 15px;}
#pageintro footer button{position:absolute; top:1px; right:1px; width:42px; height:42px; font-size:16px; cursor:pointer;}
#pageintro footer button em{display:none;}

.sectiontitle{display:block; max-width:55%; margin:0 auto 80px; text-align:center;}
.sectiontitle .heading{margin:0; padding:0; line-height:1;}

#introblocks{}
#introblocks ul{text-align:center;}
#introblocks ul li{}
#introblocks ul li article{}
#introblocks ul li article i{margin-bottom:30px; font-size:42px}
#introblocks ul li article .heading{}
#introblocks ul li article p{}
#introblocks ul li article footer{margin-top:30px;}

#comments ul{margin:0 0 40px 0; padding:0; list-style:none;}
#comments li{margin:0 0 10px 0; padding:15px;}
#comments .avatar{float:right; margin:0 0 10px 10px; padding:3px; border:1px solid;}
#comments address{font-weight:bold;}
#comments time{font-size:smaller;}
#comments .comcont{display:block; margin:0; padding:0;}
#comments .comcont p{margin:10px 5px 10px 0; padding:0;}

#comments form{display:block; width:100%;}
#comments input, #comments textarea{width:100%; padding:10px; border:1px solid;}
#comments textarea{overflow:auto;}
#comments div{margin-bottom:15px;}
#comments input[type="submit"], #comments input[type="reset"]{display:inline-block; width:auto; min-width:150px; margin:0; padding:8px 5px; cursor:pointer;}

#references{}

#references .ref-sort{display:block; margin-bottom:50px; text-align:center;}
#references .ref-sort ul{margin:0; padding:0; list-style:none; text-transform:uppercase;}
#references .ref-sort li{display:inline-block; position:relative; margin:0 10px 0 0; padding:0 20px 0 0;}
#references .ref-sort li::after{position:absolute; top:0; right:0; content:"/";}
#references .ref-sort li:last-child{margin:0; padding:0;}
#references .ref-sort li:last-child::after{display:none;}
#references .ref-sort li a{}

#references .ref-img{margin-bottom:80px;}
#references .ref-img li{margin-bottom:30px;}
#references .ref-img li:nth-last-child(-n+3){margin-bottom:0;}/* Removes bottom margin from the last three items - margin is restored in the media queries when items stack */
#references .ref-img li:nth-child(3n+1){margin-left:0; clear:left;}/* Removes the need to add class="first" */

#latest{}

#latest > li:last-child{margin-bottom:0;}/* Used when elements stack in small viewports */
#latest article{}
#latest article img{width:100%;}/* Force the image to have the full width of parent at all times */
#latest article .excerpt{padding:30px 15px 0;}
#latest article .excerpt time{display:block; margin:0 0 30px 0; padding:0 0 15px 0; font-style:normal; font-size:.8rem; line-height:1; border-bottom:1px solid;}
#latest article .excerpt time i{margin-right:5px;}
#latest article .excerpt .heading{margin:0 0 10px 0; font-size:1.3rem;}
#latest article .excerpt .meta{margin:0 0 30px 0; padding:0; list-style:none; text-align:left;}
#latest article .excerpt .meta li{display:inline-block; font-size:.8rem;}
#latest article .excerpt .meta li::after{margin-left:5px; content:"|";}
#latest article .excerpt .meta li:last-child::after{margin:0; content:"";}
#latest article .excerpt p{}
#latest article .excerpt footer{margin-top:30px;}

#testimonials{}

#testimonials article{position:relative; padding-left:110px;}
#testimonials article *{margin:0; padding:0;}
#testimonials article:last-child{margin-bottom:0;}/* Used when elements stack in small viewports */
#testimonials article img{position:absolute; top:0; left:0; border-radius:50%;}
#testimonials article blockquote{margin:0 0 20px 0; padding:0;}
#testimonials article .heading{}
#testimonials article em{display:block; margin-top:-5px; font-size:.8rem; font-style:normal;}

.cta{padding:50px 0;}

.cta > :first-child{margin-top:10px;}
.cta > :last-child{margin-bottom:0;}/* Used when elements stack in smaller viewports */
.cta footer{text-align:center;}
.cta footer a{display:block;}

@media screen and (max-width:750px) {
	#pageintro article, #pageintro p{max-width:none; margin:auto;}
	#pageintro .heading{font-size:2rem;}

	.sectiontitle{max-width:none; margin-bottom:50px;}

	.sectiontitle, #introblocks ul, #references .ref-sort{text-align:left;}

	#references .ref-img{margin-bottom:20px;}
	#references .ref-img li:nth-last-child(-n+3){margin-bottom:30px;}
	#references .ref-img + footer{text-align:left;}

	#latest article{max-width:348px;}

	.cta > :first-child{margin-top:0; text-align:center;}
	.cta footer a{display:inline-block;}
}

@media screen and (max-width:450px){
	#pageintro footer form{max-width:none; width:100%;}

	#testimonials article{padding-left:0;}
	#testimonials article:first-of-type{margin-bottom:50px;}
	#testimonials article img{position:relative; top:inherit; left:inherit; margin-bottom:20px;}
}

/* Colours
---------------------------------------------------------------------------- */
#pageintro{color:#FFFFFF;}
#pageintro footer input{color:#FFFFFF; background-color:rgba(255,255,255,.5);}
#pageintro footer button{color:#474747; background-color:#DBE5E7;}

#references .ref-sort li a{color:inherit;}
#references .ref-sort li a:hover, #references .ref-sort li.current a{color:#829DA2;}

#latest article .excerpt time{border-color:#D7D7D7;}
